<div class="home-content">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('bg-home.jpg') %>);">
    <div class="container">
      <h1>The best recipe articles on the web</h1>
      <p>browse articles, read the comments, add your own!</p>
      <%= link_to 'Check Now!', posts_path, class: 'btn btn-flat' %>
    </div>
  </div>
</div>
