<div class="home-content">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.theculturetrip.com/wp-content/uploads/2021/04/2b0fmky-e1619429563127.jpg);">
    <div class="container">
      <h1>The best recipes on the web</h1>
      <p>browse recipes, read the comments, add your own!</p>
      <%= link_to 'Check Now!', posts_path, class: 'btn btn-flat' %>
    </div>
  </div>
</div>
