<div class="post-container">
  <%= link_to post_path(post) do %>
    <div class="post-card">
      <img class="post-img" src=<%= post.photo %>>
      <div class="post-content">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
      </div>
    </div>
  <% end %>
</div>
