<%= simple_form_for [@post, Comment.new] do |f| %>
  <div class="form-field">
    <%= f.text_area :content, placeholder: " type your comment here", style:"margin-bottom:8px;" %>
  </div>
  <%= f.button :submit, "Add Comment", class: "btn btn-ghost" %>
<% end %>
