<%= simple_form_for @post do |f| %>
  <p>To add a new recipe article, please enter a valid bbcgoodfood.com url</p>
  <div class="field">
    <%= f.input :url, label: false, placeholder: "https://www.bbcgoodfood.com/recipes/lighter-beef-stew-dumplings" %>
  </div>
  <%= f.button :submit, "Add Recipe Article", class: "btn btn-ghost" %>
<% end %>
