<%= simple_form_for [@post, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "type your comment here" %>
  </div>
  <%= f.button :submit, "Add Comment", class: "btn btn-primary" %>
<% end %>
