<div class="post-container">
  <div class="new-post-container">
    <%= render "form_post", post: @post %>
  </div>

  <% @posts.each do |post| %>
    <%= render "card_post", post: post %>
  <% end %>
</div>
