.comment-container {
  padding: 16px;
  margin-bottom: 16px;
  background-color: rgba($color: #e9dab9, $alpha: 1.0);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.2);
}

.comment-card {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.2);
  border: 2px solid #ffffff;
}
