.show-container {
  width: 1000px;
  margin: 0 auto;
}

.recipe-container {
  display: flex;
  margin-bottom: 24px;
  padding: 16px;
  background-color: rgba($color: #e9dab9, $alpha: 1.0);
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.2);
}

.recipe-photo {
  width: 400px;
  height: 400px;
  margin-right: 16px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

.recipe-content-url {
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.2);
  background-color: rgba($color: #f3b200, $alpha: 0.2);
  border: 1px solid #ffffff;
}

.recipe-content-url a {
  font-size: 14px;
}
